<form novalidate name="vm.signinForm" ng-submit="vm.signinForm.$valid && vm.submit()" class="md-whiteframe-5dp">
  <md-toolbar ng-if="!vm.hideTitle">
    <div class="md-toolbar-tools">
      <h3>
        <span translate>user.signin</span>
      </h3>
    </div>
  </md-toolbar>
  <md-content class="layout-padding">
    <md-input-container class="md-block">
      <label translate>user.email</label>
      <input ng-model="vm.user.email" type="email" name="email" required firebase-error="vm.error" firebase-codes="INVALID_USER">
      <div ng-messages="vm.signinForm.email.$error" role="alert">
        <div ng-message="required"><translate>user.email.required</translate></div>
        <div ng-message="email"><translate>user.email.invalid</translate></div>
        <div ng-message="firebaseError"><translate>user.email.notExists</translate></div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label translate>user.password</label>
      <input ng-model="vm.user.password" type="password" name="password" required firebase-error="vm.error" firebase-codes="INVALID_PASSWORD">
      <div ng-messages="vm.signinForm.password.$error" role="alert">
        <div ng-message="required"><translate>user.password.required</translate></div>
        <div ng-message="firebaseError"><translate>user.password.notCorrect</translate></div>
      </div>
    </md-input-container>
    <div layout layout-align="end center">
      <md-button class="md-primary" type="submit" ng-if="!vm.submitted"><translate>label.continue</translate></md-button>
      <md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="60" ng-if="vm.submitted"></md-progress-circular>
    </div>
  </md-content>
</form>
