<div class="ui-main" layout="column" layout-fill>
  <ui-navbar></ui-navbar>
  <div layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="sidebar" md-is-locked-open="$mdMedia('gt-sm')">
      <md-toolbar hide-gt-sm>
        <div class="md-toolbar-tools">
          <md-button aria-label="{{'label.cancel'|translate}}" class="md-icon-button" ng-click="main.closeSidebar()">
            <md-icon>clear</md-icon>
          </md-button>
          <md-button ng-href="/">
            <translate>app.name</translate>
          </md-button>
        </div>
      </md-toolbar>
      <md-list>
        <md-list-item ng-click="main.navigate(['Main', 'Bottles'])">
          <md-icon>list</md-icon>
          <p translate translate-values="{count: main.bottles.length}">bottle.my</p>
        </md-list-item>
        <md-list-item ng-click="main.navigate(['Main', 'Caves'])">
          <md-icon>layers</md-icon>
          <p translate translate-values="{count: main.caves.length}">cave.my</p>
        </md-list-item>
      </md-list>
    </md-sidenav>
    <md-content class="ui-main-content" flex layout="column">
      <ng-outlet></ng-outlet>
    </md-content>
  </div>
</div>

<ui-fab></ui-fab>
