<div ng-if="!vm.bottles.length" layout layout-margin layout-padding layout-align="center center">
  <md-card flex-gt-sm="33">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline" translate>cave.empty.title</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <p translate>cave.empty.paragraph</p>
    </md-card-content>
  </md-card>
</div>
<md-card ng-if="vm.bottles.length" hide show-gt-sm>
  <md-toolbar ng-hide="vm.selectedBottles.length" class="md-default">
    <div class="md-toolbar-tools">
      <span translate translate-values="{count: vm.bottles.length}">bottle.my</span>
    </div>
  </md-toolbar>
  <md-toolbar ng-show="vm.selectedBottles.length" class="md-accent">
    <div class="md-toolbar-tools">
      <span translate translate-values="{count: vm.selectedBottles.length}">bottle.selected</span>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="{{'bottle.deleteSelected'|translate:'{count: vm.selectedBottles.length}'}}" ng-click="vm.removeSelectedBottles($event)"><md-icon>delete</md-icon></md-button>
    </div>
  </md-toolbar>
  <md-data-table-container>
    <table md-data-table md-row-select="vm.selectedBottles" md-progress="vm.deferred">
      <thead md-order="vm.order" md-trigger="vm.onOrderChange">
        <tr>
          <th name="{{'bottle.quantity'|translate}}" order-by="quantity"></th>
          <th name="{{'bottle.vintage'|translate}}" order-by="vintage"></th>
          <th name="{{'bottle.appellation'|translate}}" order-by="appellation"></th>
          <th name="{{'bottle.cuvee'|translate}}" order-by="cuvee"></th>
          <th name="{{'bottle.producer'|translate}}" order-by="producer"></th>
          <th name="{{'bottle.color'|translate}}" order-by="color"></th>
          <th name="{{'bottle.type'|translate}}" order-by="type" hide show-gt-md></th>
          <th name="{{'bottle.size'|translate}}" order-by="size" hide show-gt-md></th>
          <th name="{{'bottle.effervescence'|translate}}" order-by="effervescence" hide show-gt-md></th>
          <th name="{{'bottle.region'|translate}}" order-by="region" hide show-gt-md></th>
          <th name="{{'bottle.country'|translate}}" order-by="country" hide show-gt-md></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="bottle in vm.bottles">
          <td>{{bottle.quantity}}</td>
          <td>{{bottle.vintage}}</td>
          <td>{{bottle.appellation}}</td>
          <td>{{bottle.cuvee}}</td>
          <td>{{bottle.producer}}</td>
          <td>{{bottle.color}}</td>
          <td hide show-gt-md>{{bottle.type}}</td>
          <td hide show-gt-md>{{bottle.size}}</td>
          <td hide show-gt-md>{{bottle.effervescence}}</td>
          <td hide show-gt-md>{{bottle.region}}</td>
          <td hide show-gt-md>{{bottle.country}}</td>
          <td>
            <md-menu>
              <md-button aria-label="{{'label.actions'|translate}}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-icon>more_vert</md-icon>
              </md-button>
              <md-menu-content width="4">
                <md-menu-item>
                  <md-button ng-click="vm.editBottle(bottle, $event)">
                    <md-icon>edit_mode</md-icon>
                    <translate>label.update</translate>
                  </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                  <md-button ng-click="vm.removeBottle(bottle, $event)" class="md-warn">
                    <md-icon>delete</md-icon>
                    <translate>label.delete</translate>
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </td>
        </tr>
      </tbody>
    </table>
  </md-data-table-container>
</md-card>
<md-list ng-if="vm.bottles.length" hide-gt-sm>
  <md-subheader class="md-no-sticky">
    <span translate translate-values="{count: vm.bottles.length}">bottle.my</span>
  </md-subheader>
  <md-list-item class="md-2-line" ng-repeat="bottle in vm.bottles">
    <div class="ui-bottle-quantity">
      <p>{{bottle.quantity}}</p>
    </div>
    <div class="md-list-item-text">
      <h3>{{bottle.appellation}} <small>{{bottle.vintage}} {{bottle.color}}</small></h3>
      <p>{{bottle.cuvee}} {{bottle.producer}}</p>
    </div>
    <md-menu>
      <md-button aria-label="{{'label.actions'|translate}}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <md-icon>more_vert</md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click="vm.editBottle(bottle, $event)">
            <md-icon>edit_mode</md-icon>
            <translate>label.update</translate>
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="vm.removeBottle(bottle, $event)" class="md-warn">
            <md-icon>delete</md-icon>
            <translate>label.delete</translate>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </md-list-item>
</md-list>
