<form novalidate name="signupForm" ng-submit="vm.submit(signupForm.$valid)" class="md-whiteframe-5dp">
  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools">
      <h3>
        <span>Sign up</span>
      </h3>
    </div>
  </md-toolbar>
  <md-content class="layout-padding">
    <p ng-if="vm.error">{{vm.error.code}}</p>
    <md-input-container class="md-block">
      <label translate>user.email</label>
      <input ng-model="vm.user.email" type="email" name="email" required>
      <div ng-messages="signupForm.email.$error" role="alert">
        <div ng-message="required">Please enter your email.</div>
        <div ng-message="email">Please enter a valid email.</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label translate>user.password</label>
      <input ng-model="vm.user.password" type="password" name="password" required>
      <div ng-messages="signupForm.password.$error" role="alert">
        <div ng-message="required">Please enter your password.</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label translate>user.passwordConfirmation</label>
      <input  ng-model="vm.user.passwordConfirmation" type="password" name="passwordConfirmation" required match="vm.user.password">
      <div ng-messages="signupForm.passwordConfirmation.$error" role="alert">
        <div ng-message="required">Please enter your password confirmation.</div>
        <div ng-message="match">Please enter the same password as above.</div>
      </div>
    </md-input-container>
    <div layout layout-align="end center">
      <md-button class="md-accent" type="submit" ng-if="!vm.submitted">Submit</md-button>
      <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="60" ng-if="vm.submitted"></md-progress-circular>
    </div>
  </md-content>
</form>
