<form novalidate name="vm.signupForm" ng-submit="vm.signupForm.$valid && vm.submit()" class="md-whiteframe-5dp">
  <md-toolbar ng-if="!vm.hideTitle" class="md-accent">
    <div class="md-toolbar-tools">
      <h3>
        <span translate>user.signup</span>
      </h3>
    </div>
  </md-toolbar>
  <md-content class="layout-padding">
    <md-input-container class="md-block">
      <label translate>user.email</label>
      <input ng-model="vm.user.email" type="email" name="email" required firebase-error="vm.error" firebase-codes="EMAIL_TAKEN">
      <div ng-messages="vm.signupForm.email.$error" role="alert">
        <div ng-message="required"><translate>user.email.required</translate></div>
        <div ng-message="email"><translate>user.email.invalid</translate></div>
        <div ng-message="firebaseError"><translate>user.email.exists</translate></div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label translate>user.password</label>
      <input ng-model="vm.user.password" type="password" name="password" required>
      <div ng-messages="vm.signupForm.password.$error" role="alert">
        <div ng-message="required"><translate>user.password.required</translate></div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label translate>user.passwordConfirmation</label>
      <input  ng-model="vm.user.passwordConfirmation" type="password" name="passwordConfirmation" required match="vm.user.password">
      <div ng-messages="vm.signupForm.passwordConfirmation.$error" role="alert">
        <div ng-message="required"><translate>user.passwordConfirmation.required</translate></div>
        <div ng-message="match"><translate>user.passwordConfirmation.wrong</translate></div>
      </div>
    </md-input-container>
    <div layout layout-align="end center">
      <md-button class="md-accent" type="submit" ng-if="!vm.submitted"><translate>label.confirm</translate></md-button>
      <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="60" ng-if="vm.submitted"></md-progress-circular>
    </div>
  </md-content>
</form>
